<div class="container">
    <h1 class="text-center">Complete Your Profile</h1>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" value="{{data.dataValues.name}}" style="height: 8vh;border-radius:12px;border-color:rgb(22, 73, 112);">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control" value="{{data.dataValues.email}}" style="height: 8vh;border-radius:12px;border-color:rgb(22, 73, 112);"  readonly>
                </div>
                <div>
                    <label for="mobile">Mobile No</label>
                    <input type="number" name="mobile" id="mobile" class="form-control" value="{{data.dataValues.mobile}}" style="height: 8vh;border-radius:12px;border-color:rgb(22, 73, 112);">
                </div>
                <div>
                    <label for="address">Address</label>
                    <textarea name="address" id="address" class="form-control" style="height: 10vh;border-radius:12px;border-color:rgb(22, 73, 112);">{{data.dataValues.address}}
                    </textarea>
                </div>
                <div>
                    <label for="dob">DOB</label>
                    <input type="date" name="dob" id="dob" class="form-control" value="{{data.dataValues.dob}}" style="height: 8vh;border-radius:12px;border-color:rgb(22, 73, 112);">
                </div>
                <div>
                    <label for="gender">Gender</label>
                    <input type="text" name="gender" id="gender" class="form-control" value="{{data.dataValues.gender}}" style="height: 8vh;border-radius:12px;border-color:rgb(22, 73, 112);">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password" class="form-control"value="{{data.dataValues.password}}" style="height: 8vh;border-radius:12px;border-color:rgb(22, 73, 112);">
                </div>
                <div class="d-grid mt-4">
                    <button class="btn" style="background-color:rgb(20, 123, 147)
                    ;">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>